<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="LogglyToken" connectionString="">
      <!-- Your Loggly token if you using it. -->
    </add>
    <add name="SmtpHost" connectionString="">
      <!-- Your SMTP host. Ex:"email-smtp.us-west-2.amazonaws.com" -->
    </add>
    <add name="SmtpUsername" connectionString="">
      <!-- Your SMTP username." -->
    </add>
    <add name="SmtpPassword" connectionString="">
      <!-- Your SMTP password." -->
    </add>
  </connectionStrings>
  <appSettings>
    <add key="LogDestination" value="">
      <!-- This is where logservice will write the logs to. Accepted values: "loggly", "textfile"-->
    </add>
    <add key="LogglySource" value="">
      <!-- If you are using loggly and making use of their Source feature, set it to this-->
    </add>
    <add key="LogAppName" value="">
      <!-- The app name as will appear in the logs-->
    </add>
    <add key="DisableHandleExceptions" value="false">
      <!-- Set this to true to disable exceptions aspects. Use for unit tests, debugging-->
    </add>
  </appSettings>
</configuration>